.create {
  display: flex;
  margin: 10px 0;
}

.create-name {
  padding: 10px;
  margin: 0 5px 0 0;
}

.create-content {
  padding: 10px;
  margin: 0 5px 0 0;
}

.create-button {
  padding: 10px;
  background-color: #eeeeee;
}

.create-button:hover {
  color: grey;
  cursor: pointer;
}
